//=== Shared nav styles
$nav-link-padding: .8rem 1.5rem !default;
$nav-link-hover-bg: $gray-lighter !default;
$nav-disabled-link-color: $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;
