//** Line Location Calculation
$input-border-distance: floor(($font-size-base * $line-height-base)) !default;
$input-area-label-size: $font-size-extra-small !default;
$input-area-focus-label-size: floor($font-size-base / 1.28)!default;
$input-area-label-distance: floor($font-size-base + 3) !default;
