//** Blockquote small color
$blockquote-small-color: $gray-light !default;
//** Blockquote font size
$blockquote-font-size: ($font-size-base) !default;
//** Blockquote font weight
$blockquote-font-weight: $font-weight-h5;
//** Blockquote border color
$blockquote-border-color: $gray-lighter !default;
