$font-size-button-xl: 2.6rem !default;
$font-size-button-large: 2.2rem !default;
$font-size-button-default: 1.6rem !default;
$font-size-button-sm: 1.2rem !default;
$font-size-button-xs: 1.1rem !default;
