$display1-size-mobile: 3.6rem !default;
$display2-size-mobile: 3.4rem !default;
$display3-size-mobile: 3.2rem !default;
$display4-size-mobile: 3.0rem !default;
$display5-size-mobile: 2.8rem !default;
