$display1-weight: 600 !default;
$display2-weight: 600 !default;
$display3-weight: 600 !default;
$display4-weight: 600 !default;
$display5-weight: 600 !default;
$display-line-height: $headings-line-height !default;
