//** English & Japanese
$font-size-base: 1.6rem !default;
$font-size-base-ja: 1.4rem !default;
$font-size-large: 1.8rem !default;
$font-size-large-ja: 1.6rem !default;
$font-size-small: 1.4rem !default;
$font-size-small-ja: 1.2rem !default;
$font-size-extra-small: 1.2rem !default;
$font-size-extra-small-ja: 1.0rem !default;
$font-size-lead: 2.2rem !default;
$font-size-lead-ja: 2.0rem !default;