//** Heading size for Mobile JA and EN
$font-size-h1-mobile: 2.0rem !default;
$font-size-h2-mobile: $font-size-base !default;
$font-size-h3-mobile: 1.4rem !default;
$font-size-h4-mobile: 1.2rem !default;
$font-size-h5-mobile: 1.0rem !default;
$font-size-h6-mobile: 1.0rem !default;