@mixin alertcolor($bg-color, $border, $color, $hover) {
    background-color: $bg-color;
    border: 1px solid $border;
    color: $color;
    .alert-link {
        color: $color;
        text-decoration: underline;
        &:hover {
            color: $hover;
        }
    }
}