// Single side border-radius
@mixin border-top-radius($radius) {
    border-radius: $radius $radius 0 0;
}

@mixin border-right-radius($radius) {
    border-radius: 0 $radius $radius 0;
}

@mixin border-bottom-radius($radius) {
    border-radius: 0 0 $radius $radius;
}

@mixin border-left-radius($radius) {
    border-radius: $radius 0 0 $radius;
}