@mixin pagination-link-style {
    text-align: center;
    margin-bottom: 0;
    li {
        display: inline-block;
        a {
            color: #828282;
            &:hover {
                color: #FF1212;
                background-color: #F7F7F7;
                border-bottom: none;
                text-decoration: none;
            }
            .rex-icon {
                cursor: pointer;
                vertical-align: middle;
            }
        }
    }
    &.disabled {
        a {
            color: #d1d1d1;
            text-decoration: none;
            cursor: not-allowed;
            &:hover {
                color: #d1d1d1;
                background-color: transparent;
            }
        }
    }
    &~.text-center {
        color: #828282;
    }
}