.label-and-checkbox {
  label {
    color: $gray;
    font-weight: 300;
    margin-bottom: .8rem;
    span {
      margin: 0;
      padding-left: 1.6rem;
    }
  }
}

.label-and-checkbox.inline-block {
  display: inline-block;
  span {
    margin-right: 4.8rem;
  }
}