.password {
  .rex-icon {
    font-size: 1.5em;
    height: 1em;
    float: right;
    margin-top: 2px;
    color: $gray-medium-light;
  }
  &.show {
    i.rex-icon:before {
      content: $_32-eye-ban-l;
    }
  }
  input[type="password"] {
    max-width: 90%;
  }
  input[type="text"] {
    max-width: 90%;
  }
}