@mixin alertcolor($bg-color, $border, $color) {
    background-color: $bg-color;
    border: 1px solid $border;
    color: $color;
    .alert-link {
        color: $color;
        text-decoration: underline;
    }
}

@mixin alertlink($link-color) {
    color: $link-color;
    .alert-link {
        color: $link-color;
        text-decoration: underline;
    }
}

.alert {
    border-radius: 4px;
    display: block;
    position: relative;
    word-break: break-all;
    margin-bottom: 1rem;
    padding: 1.2rem 1.6rem;
    &.alert-icon {
        padding-left: 64px;
    }
    .rex-icon {
        font-size: 1.6rem;
        margin: 0 .5em 0 0;
        position: relative;
        top: .2rem;
        &.close {
            margin-right: 0;
        }
    }
    &.alert-success {
        @include alertcolor(#EBF7EC, #C2E6C2, #047205);
    }
    &.alert-info {
        @include alertcolor(#EBF7FE, #C1E6FA, #006497);
    }
    &.alert-warning {
        @include alertcolor(#FEF3EB, #FBDAC1, #9F4600);
    }
    &.alert-danger {
        @include alertcolor(#FFF0F0, #FFCFCF, #DF0101);
    }
    &.alert-text-success {
        @include alertlink(#B2DE81);
    }
    &.alert-text-info {
        @include alertlink(#3CBDFF);
    }
    &.alert-text-warning {
        @include alertlink(#FF9644);
    }
    &.alert-text-danger {
        @include alertlink(#FF8B8B);
    }
    &.alert-list {
        @include alertcolor($red-lighter, $red-light, $danger);
        word-break: break-all;
        list-style: none;
        display: block;
        padding: 16px;
        .title {
            margin-bottom: 20px;
            font-weight: bold;
        }
        .message {
            position: relative;
            margin-bottom: 8px;
            padding-left: 2em;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                font-family: rex-icon; // TODO: make it variable or mixin
                content: $_32-chevron-right;
                margin-right: 16px;
            }
        }
    }
}

.alert-dismissible {
    padding-right: 3.8125rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.6rem;
    color: inherit;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}