//
// Input groups
// --------------------------------------------------
// Base styles
// -------------------------
input,
textarea {
    border: 0;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    &::-ms-clear {
        display: none;
    }
}

input[type='text'],
input[type='url'],
input[type='tel'],
input[type='password'],
input[type='number'],
input[type='email'],
textarea {
    font-size: $font-size-base;
    color: $gray-darkest;
    @include placeholder {
        color: $gray-medium;
    }
}

textarea {
    width: 100%;
    padding: $font-size-base;
    border-radius: 4px;
    border: solid 1px $gray-medium;
    resize: none;
    &:focus,
    &.focus,
    &:active,
    &.active {
        @extend %textarea-focus;
    }
    &:disabled {
        @include placeholder {
            color: $gray-light;
        }
    }
}

%textarea_thick_border {
    margin-bottom: 1px;
    padding: calc(#{$font-size-base} - 1px);
}

%textarea_thin_border {
    margin-bottom: 1px;
    padding: $font-size-base;
    padding-top: $padding-large;
}

%small_base {
    display: block;
    color: $gray-medium;
    font-size: $font-size-extra-small;
    line-height: 1.5;
    padding-left: .25em;
}

%focused_transition {
    transition: 0.05s;
}

%label_base_text_input {
    font-weight: normal;
}

%input_focused {
    // border-bottom: solid 2px $brand-primary;
    @extend %focused_transition;
}

%label_hover {
    color: $brand-focus;
    @extend %focused_transition;
}

%underline_focused {
    background: $brand-primary;
    height: 2px;
}

//.input-area {
.form-group {
    input[type='text'],
    input[type='url'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    input[type='email'],
    textarea,
    select {
        margin-bottom: .5em;
    }
    .input-group-disabled {
        label,
        small {
            color: $gray-light;
        }
    }
    legend {
        font-size: 1em;
    }
    @include clearfix;
    position: relative; // For dropdowns
    margin-bottom: 2em;
    border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table
    label {
        @extend %label_base_text_input;
    }
    small {
        @extend %small_base;
        &.blank-helper {
            color: transparent;
        }
        .rex-icon {
            padding-right: .3em;
            padding-bottom: .3em;
            vertical-align: middle;
        }
    }
    input {
        // line-height: $input-height-base; // border-bottom: 1px solid $gray-medium;
        caret-color: $brand-primary;
        padding: 0 0 .5em 0;
        &:focus,
        &:active {
            @extend %input_focused;
            &+label {
                @extend %label_hover;
            }
            &+.underline {
                @extend %underline_focused;
            }
        } //Move Label above input
        &+label {
            top: 0px;
        }
        &:disabled {
            color: $gray-light;
            @include placeholder {
                color: $gray-light;
            }
        }
        &[type='text'],
        &[type='url'],
        &[type='tel'],
        &[type='password'],
        &[type='number'],
        &[type='email'] {
            border-bottom: 1px solid $gray-medium;
            margin-bottom: .5em;
            &:focus {
                border-color: $brand-primary;
                border-width: 1px;
            }
        }
    }
    &.focused {
        label {
            font-size: $input-area-focus-label-size;
            transition: 0.2s;
            color: $brand-primary;
            top: 0px;
            left: 0px;
        }
        input {
            @extend %input_focused;
            &+.underline {
                @extend %underline_focused;
            }
        }
    } // Undo padding and float of grid classes
    &[class*="col-"] {
        float: none;
        padding-left: 0;
        padding-right: 0;
    } // Disabled Input Group
    .input-area-read-only {
        input,
        input:hover {
            border-bottom: none;
            pointer-events: none;
        }
    }
    .form-control {
        // Ensure that the input is always above the *appended* addon button for
        // proper border colors.
        position: relative;
        z-index: 2; // IE9 fubars the placeholder attribute in text inputs and the arrows on
        // select elements in input groups. To fix it, we float the input. Details:
        // https://github.com/twbs/rex/issues/11561#issuecomment-28936855
        float: left;
        width: 100%;
        // width: 100%;
        &:focus {
            z-index: 3;
        }
    }
    .hover {
        &+label,
        &+label {
            @extend %label_hover;
        }
    }
    .active {
        label {
            color: $brand-focus;
        }
        &+label,
        &+label {
            @extend %label_hover;
        }
    }
    .with-icon-label {
        .rex-icon {
            font-size: 24px;
            color: $gray-medium;
        }
        .icon-container {
            display: inline-block;
            position: relative;
            .rex-icon {
                top: 4px;
            }
        }
        input,
        .underline {
            width: calc(100% - 32px);
            right: 0;
        }
        input {
            padding-left: 8px;
        }
    }
}

// Sizing options
//
// Remix the default form control sizing classes into new ones for easier
// manipulation.
.input-area-sm {
    @extend .input-sm;
}

.input-area-lg {
    @extend .input-lg;
}

// Display as table-cell
// -------------------------
.input-area-addon,
.input-area-btn,
.input-area .form-control {
    display: table-cell;
    &:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
}

// Addon and addon wrapper for buttons
.input-area-addon,
.input-area-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle; // Match the inputs
}

// Text input groups
// -------------------------
.input-sm {
    padding: $padding-small-vertical $padding-small-horizontal;
    label {
        font-size: $font-size-base;
        margin-bottom: 2px;
    }
    input {
        transform: scale(0.8);
        padding-bottom: 4px;
    }
}

.input-lg {
    font-size: 1.5em;
    padding: 0;
    label {
        font-size: $font-size-base;
    }
    input {
        font-size: $font-size-large;
        padding-bottom: 8px;
    }
}

.input-area-addon {
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: 1;
    color: $input-color;
    text-align: center;
    background-color: transparent;
    border: 1px solid $input-area-addon-border-color;
    border-radius: $input-border-radius; // Sizing
    // Nuke default margins from checkboxes and radios to vertically center within.
    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 0;
    }
}

// Reset rounded corners
.input-area .form-control:first-child,
.input-area-addon:first-child,
.input-area-btn:first-child>.btn,
.input-area-btn:first-child>.btn-group>.btn,
.input-area-btn:first-child>.dropdown-toggle,
.input-area-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-area-btn:last-child>.btn-group:not(:last-child)>.btn {
    @include border-right-radius(0);
}

.input-area-addon:first-child {
    border-right: 0;
}

.input-area .form-control:last-child,
.input-area-addon:last-child,
.input-area-btn:last-child>.btn,
.input-area-btn:last-child>.btn-group>.btn,
.input-area-btn:last-child>.dropdown-toggle,
.input-area-btn:first-child>.btn:not(:first-child),
.input-area-btn:first-child>.btn-group:not(:first-child)>.btn {
    @include border-left-radius(0);
}

.input-area-addon:last-child {
    border-left: 0;
}

// Button input groups
// -------------------------
.input-area-btn {
    position: relative; // Jankily prevent input button groups from wrapping with `white-space` and
    // `font-size` in combination with `inline-block` on buttons.
    font-size: 0;
    white-space: nowrap; // Negative margin for spacing, position for bringing hovered/focused/actived
    // element above the siblings.
    >.btn {
        position: relative;
        +.btn {
            margin-left: -1px;
        } // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active {
            z-index: 2;
        }
    } // Negative margin to only have a 1px border between the two
    &:first-child {
        >.btn,
        >.btn-group {
            margin-right: -1px;
        }
    }
    &:last-child {
        >.btn,
        >.btn-group {
            z-index: 2;
            margin-left: -1px;
        }
    }
}

.password {
    .rex-icon {
        font-size: 1.5em;
        height: 1em;
        float: right;
        margin-top: 2px;
        color: $gray-medium-light;
    }
    &.show {
        i.rex-icon:before {
            content: $_32-eye-ban-l;
        }
    }
    input[type="password"] {
        max-width: 90%;
    }
    input[type="text"] {
        max-width: 90%;
    }
}

.has-success {
    position: relative;
    input[type='text'],
    input[type='url'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    input[type='email'],
    textarea {
        border-color: #069907;
        border-width: 1px;
    }
    @include form-control-validation($brand-success, $state-success-border, $state-success-bg);
    %success_text {
        color: $brand-success;
    }
    small {
        color: $brand-success;
    }
    %success_line {
        border-top: solid 2px $brand-success !important;
    }
    input {
        &+label {
            &+small {
                @extend %success_text;
                &:before {
                    @extend %success_line;
                }
            }
        }
        &:hover,
        &.hover {
            &+label {
                &+small {
                    @extend %success_text;
                    &:before {
                        @extend %success_line;
                    }
                }
            }
        }
        &:focus,
        &:active {
            &+label {
                @extend %success_text;
                &+small {
                    @extend %success_text;
                    &:before {
                        @extend %success_line;
                    }
                }
            }
        }
    }
    %textarea-focus {
        background-color: $overlay-grey;
        border: solid 2px $brand-focus;
    }
    &.active,
    &.focus {
        label {
            color: $brand-primary;
        }
    }
    &.disabled {
        label {
            color: $gray-light;
        }
        textarea {
            border: dashed 2px $gray-light;
            background: transparent;
            color: $gray-light;
        }
        small {
            color: $gray-light;
        }
    }
}

.has-error {
    position: relative;
    @include form-control-validation($brand-danger, $state-danger-border, $state-danger-bg);
    // padding-right: 22px;
    input[type='text'],
    input[type='url'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    input[type='email'],
    textarea {
        border-color: $brand-danger;
        border-width: 1px;
    }
    small {
        color: $brand-danger;
        &.remaining,
        &.resolved {
            margin-top: 0;
            .rex-icon {
                margin-right: 4px;
                &.plus {
                    transform: rotate(45deg);
                    top: 4px;
                }
                &.check {
                    top: 3px;
                }
            }
            &:first-of-type {
                margin-top: 8px;
            }
        }
        &.resolved {
            color: $brand-success;
        }
    }
    %error_text {
        color: $brand-danger;
    }
    input {
        &+label {
            &+small {
                @extend %error_text;
            }
        }
        &:hover,
        &.hover {
            &+label {
                &+small {
                    @extend %error_text;
                }
            }
        }
        &:focus,
        &:active {
            &+label {
                @extend %error_text;
                &+small {
                    @extend %error_text;
                }
            }
        }
    }
}

.active-textarea-div,
.idle-filled-textarea-div {
    label {
        position: absolute;
        top: 8px;
        left: 16px;
        color: $gray;
    }
    textarea {
        padding-top: 32px;
    }
}

.label-and-checkbox {
    label {
        color: $gray;
        font-weight: 300;
        margin-bottom: 8px;
        span {
            margin: 0;
            padding-left: 16px;
        }
    }
}

.checkbox-checked {
    label {
        span {
            color: $gray-darker;
        }
    }
}

.checkbox-disabled {
    label {
        span {
            color: $gray-light;
        }
    }
}

.label-and-checkbox.inline-block {
    display: inline-block;
    span {
        margin-right: 48px;
    }
}

span.required-kome {
    color: $brand-danger;
    font-size: 16px;
    margin-left: 4px;
}

p.required-text {
    font-size: $font-size-button-sm;
    color: $gray;
    margin-top: 1em;
    &.required-text-jp {
        color: $brand-danger;
        margin-top: 0em;
        span {
            font-size: 16px;
        }
    }
}

.input-area-addon {
    background: transparent;
    border: none;
    padding-left: 0;
    font-size: 22px;
    padding-top: 0px;
    vertical-align: text-bottom;
    &+input {
        border-bottom: 1px solid $gray-medium-light;
        &:hover {
            border-bottom: 2px solid $gray-medium-light
        }
        &:active,
        &:focus {
            border-bottom: 2px solid $brand-focus
        }
    }
}

.required-field {
    color: $gray-medium;
    font-size: $font-size-extra-small;
}