.list {
    @extend .list-unstyled;
    width: 18.5em;
    background-color: $white;
    padding: 1.6rem 0;
    border-radius: 4px;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.12);
    li {
        a,
        span {
            color: $gray-medium;
            text-decoration: none;
            display: list-item;
            margin-bottom: 0;
            padding: 0 1.6rem;
            width: 100%;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
                color: #FF1212;
            }
        }
        &.active {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background: $brand-primary;
                top: 0;
                left: 0;
                width: .2rem;
                height: 2.4rem;
            }
            span {
                color: $brand-primary;
                display: block;
            }
        }
    }
}