%pagination-link-style {
    text-align: center;
    li {
        display: inline-block;
        a {
            color: #828282;
            &:hover {
                color: #FF1212;
                background-color: #F7F7F7;
                border-bottom: none;
                text-decoration: none;
            }
            .rex-icon {
                cursor: pointer;
                vertical-align: middle;
            }
        }
    }
    &.disabled {
        a {
            color: #d1d1d1;
            text-decoration: none;
            cursor: not-allowed;
            &:hover {
                color: #d1d1d1;
                background-color: transparent;
            }
        }
    }
}

.pagination {
    @extend .list-unstyled;
    @extend %pagination-link-style;
    li {
        &.active {
            span {
                color: $brand-primary;
                border-bottom: 1px solid $brand-primary;
            }
        }
        a,
        span {
            padding: .3em .75em;
        }
    }
}

.pager {
    @extend .list-unstyled;
    @extend %pagination-link-style;
    li {
        a {
            padding: .5em .75em;
            &.prev .rex-icon {
                padding-right: 1em;
            }
            &.next .rex-icon {
                padding-left: 1em;
            }
        }
    }
}