// Bordered version
//
// Add borders all around the table and between all the columns.
.table-bordered {
  border: 1px solid $table-border-color;
  >thead,
  >tbody,
  >tfoot {
    >tr {
      >th,
      >td {
        border: 1px solid $table-border-color;
      }
    }
  }
}
