// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-active {
    background-color: #ebebeb;
}

.table-success {
    background-color: #ebf7eb;
}

.table-info {
    background-color: #ebf7fe;
}

.table-warning {
    background-color: #fef3eb;
}

.table-danger {
    background-color: #fdebeb;
}