.btn-circle {
    padding: 0;
    position: relative;
    border: none;
    border-radius: 100%;
    line-height: 40px;
    font-size: 24px;
    width: 40px;
    height: 40px; // icon center alignment
    &:before {
        position: absolute;
    }
    &.plus,
    &.minus {
        @extend %plus-minus-btn;
    }
    &.chevron-top {
        &::after {
            @extend %backToTopStyle;
        }
    }
    &.chevron-left,
    &.chevron-right {
        &:before {
            top: 0;
        }
        &.btn-outline {
            &:before {
                top: -1px;
            }
        }
    }
    &.chevron-left {
        @include chevron-horizontal-style("left", 7px, 6px);
    }
    &.chevron-right {
        @include chevron-horizontal-style("right", 7px, 6px);
    } // colors
    &.btn-outline {
        @extend %btn-circle-outline;
    }
}