.btn-square {
  padding: 0;
  position: relative;
  border: none;
  font-size: 24px;
  line-height: 40px;
  width: 40px;
  height: 40px; // icon center alignment
  border-radius: 4px;
  &:before {
    position: absolute;
  }
  &.chevron-top {
    &::after {
      @extend %backToTopStyle;
    }
  }
  &.chevron-left {
    @include chevron-horizontal-style("right", 8px, 7px);
  }
  &.chevron-right {
    @include chevron-horizontal-style("right", 6px, 5px);
  }
  &.plus,
  &.minus {
    @extend %plus-minus-btn;
  }
  &.btn-outline {
    @extend %btn-circle-outline;
  }
}
