$noto-font-path: "//fonts.gstatic.com/ea/notosansjp/v5/" !default;

/**
 * Noto Sans CJK JP: https://www.google.com/get/noto/#sans-jpan
 * Noto Sans JP: https://fonts.google.com/earlyaccess#Noto+Sans+JP
 */

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    src: local("Noto Sans CJK JP Light"),
    url(#{$noto-font-path}NotoSansJP-Light.woff2) format('woff2'),
    url(#{$noto-font-path}NotoSansJP-Light.woff) format('woff'),
    url(#{$noto-font-path}NotoSansJP-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans CJK JP Regular"),
    url(#{$noto-font-path}NotoSansJP-Regular.woff2) format('woff2'),
    url(#{$noto-font-path}NotoSansJP-Regular.woff) format('woff'),
    url(#{$noto-font-path}NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans CJK JP Bold"),
    url(#{$noto-font-path}NotoSansJP-Bold.woff2) format('woff2'),
    url(#{$noto-font-path}NotoSansJP-Bold.woff) format('woff'),
    url(#{$noto-font-path}NotoSansJP-Bold.otf) format('opentype');
    unicode-range: U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}