    //
    // Typography
    // --------------------------------------------------
    // Headings
    // -------------------------
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: $headings-font-family;
        line-height: $headings-line-height;
        color: $headings-color;
        small,
        .small {
            font-weight: normal;
            line-height: 1;
            color: $headings-small-color;
        }
    }
    
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0;
        margin-bottom: .5em;
        small,
        .small {
            font-size: 80%;
        }
    }
    
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin-top: 0;
        margin-bottom: .5em;
        small,
        .small {
            font-size: 85%;
        }
    }
    
    h1,
    .h1 {
        font-size: $font-size-h1;
        font-weight: $font-weight-h1;
        .secondary-text {
            font-size: 2.0rem;
        }
        @media (max-width: $screen-xs-min) {
            font-size: $font-size-h1-mobile;
            .secondary-text {
                font-size: 1.6rem;
            }
        }
    }
    
    h2,
    .h2 {
        font-size: $font-size-h2;
        font-weight: $font-weight-h2;
        .secondary-text {
            font-size: 1.6rem;
        }
        @media (max-width: $screen-xs-min) {
            font-size: $font-size-h2-mobile;
            .secondary-text {
                font-size: 1.2rem;
            }
        }
    }
    
    h3,
    .h3 {
        font-size: $font-size-h3;
        font-weight: $font-weight-h3;
        .secondary-text {
            font-size: 1.2rem;
        }
        @media (max-width: $screen-xs-min) {
            font-size: $font-size-h3-mobile;
            .secondary-text {
                font-size: 1.2rem;
            }
        }
    }
    
    h4,
    .h4 {
        font-size: $font-size-h4;
        font-weight: $font-weight-h4;
        .secondary-text {
            font-size: 1.2rem;
        }
        @media (max-width: $screen-xs-min) {
            font-size: $font-size-h4-mobile;
            .secondary-text {
                font-size: 1.0rem;
            }
        }
    }
    
    h5,
    .h5 {
        font-size: $font-size-h5;
        font-weight: $font-weight-h5;
        .secondary-text {
            font-size: 1.0rem;
        }
        @media (max-width: $screen-xs-min) {
            font-size: $font-size-h6-mobile;
            .secondary-text {
                font-size: .8rem;
            }
        }
    }
    
    h6,
    .h6 {
        font-size: $font-size-h6;
        font-weight: $font-weight-h6;
        .secondary-text {
            font-size: 1.0rem;
        }
        @media (max-width: $screen-xs-min) {
            font-size: $font-size-h6-mobile;
            .secondary-text {
                font-size: .8rem;
            }
        }
    }
    
    .secondary-text {
        margin-left: .25em;
    }
    
    // Body text
    // -------------------------
    p {
        margin: 0 0 ($line-height-computed / 2);
    }
    
    // Type display
    .display-1 {
        font-size: $display1-size;
        line-height: $display-line-height;
        @media (max-width: $screen-sm-min) {
            font-size: $display1-size-mobile;
        }
    }
    
    .display-2 {
        font-size: $display2-size;
        line-height: $display-line-height;
        @media (max-width: $screen-sm-min) {
            font-size: $display2-size-mobile;
        }
    }
    
    .display-3 {
        font-size: $display3-size;
        line-height: $display-line-height;
        @media (max-width: $screen-sm-min) {
            font-size: $display3-size-mobile;
        }
    }
    
    .display-4 {
        font-size: $display4-size;
        line-height: $display-line-height;
        @media (max-width: $screen-sm-min) {
            font-size: $display4-size-mobile;
        }
    }
    
    .display-5 {
        font-size: $display5-size;
        line-height: $display-line-height;
        @media (max-width: $screen-sm-min) {
            font-size: $display5-size-mobile;
        }
    }
    
    .display-1,
    .display-2,
    .display-3,
    .display-4,
    .display-5 {
        margin-bottom: .5em;
        font-weight: normal !important;
    }
    
    // Emphasis & misc
    // -------------------------
    .lead {
        margin-bottom: $line-height-computed;
        font-size: $font-size-lead;
        font-weight: 200;
        line-height: $line-height-base;
    }
    
    .large {
        font-size: $font-size-large;
    }
    
    small,
    .small {
        font-size: $font-size-small;
    }
    
    .extra-small {
        font-size: $font-size-extra-small;
    }
    
    .xx-small {
        font-size: $font-size-xx-small;
    }
    
     :lang(ja) {
        .lead {
            margin-bottom: $line-height-computed;
            font-size: $font-size-lead-ja;
            font-weight: 200;
            line-height: $line-height-base;
        }
        .large {
            font-size: $font-size-large-ja;
        }
        .extra-small {
            font-size: $font-size-extra-small-ja;
        }
        .xx-small {
            font-size: $font-size-xx-small-ja;
        }
    }
    
    mark,
    .mark {
        background-color: $state-warning-bg;
        padding: .2em;
    }
    
    // Alignment
    .text-left {
        text-align: left;
    }
    
    .text-right {
        text-align: right;
    }
    
    .text-center {
        text-align: center;
    }
    
    .text-justify {
        text-align: justify;
    }
    
    .text-nowrap {
        white-space: nowrap;
    }
    
    // Transformation
    .text-lowercase {
        text-transform: lowercase;
    }
    
    .text-uppercase {
        text-transform: uppercase;
    }
    
    .text-capitalize {
        text-transform: capitalize;
    }
    
    // Contextual colors
    .text-muted {
        color: $text-muted;
    }
    
    @include text-emphasis-variant('.text-primary', $brand-primary);
    @include text-emphasis-variant('.text-success', $state-success-text);
    @include text-emphasis-variant('.text-info', $state-info-text);
    @include text-emphasis-variant('.text-warning', $state-warning-text);
    @include text-emphasis-variant('.text-danger', $state-danger-text);
    // Contextual backgrounds
    // For now we'll leave these alongside the text classes until v4 when we can
    // safely shift things around (per SemVer rules).
    .bg-primary {
        // Given the contrast here, this is the only class to have its color inverted
        // automatically.
        color: #fff;
    }
    
    @include bg-variant('.bg-primary', $brand-primary);
    @include bg-variant('.bg-success', $state-success-bg);
    @include bg-variant('.bg-info', $state-info-bg);
    @include bg-variant('.bg-warning', $state-warning-bg);
    @include bg-variant('.bg-danger', $state-danger-bg);
    // Page header
    // -------------------------
    .page-header {
        padding-bottom: (($line-height-computed / 2) - 1);
        margin: calc($line-height-computed * 2) 0 $line-height-computed;
        border-bottom: 1px solid $page-header-border-color;
    }
    
    // Lists
    // -------------------------
    // Unordered and Ordered lists
    ul,
    ol {
        margin-top: 0;
        margin-bottom: ($line-height-computed / 2);
        padding-left: 2rem;
        li {
            margin-bottom: 1.6rem;
        }
        ul,
        ol {
            margin-bottom: 0;
            padding-left: 2.4rem;
            font-size: $font-size-small;
            li {
                margin-bottom: 1.6rem;
            }
            li:first-child {
                margin-top: 1.6rem;
            }
        }
    }
    
    // List options
    // [converter] extracted from `.list-unstyled` for libsass compatibility
    @mixin list-unstyled {
        padding-left: 0;
        list-style: none;
        ul,
        ol {
            list-style: none;
        }
    }
    
    // [converter] extracted as `@mixin list-unstyled` for libsass compatibility
    .list-unstyled {
        @include list-unstyled;
    }
    
    .list-asterisk {
        @include list-unstyled;
        li:before {
            content: "※";
            margin-right: 1em;
        }
    }
    
    .list-asterisk-en {
        @include list-unstyled;
        li:before {
            content: "*";
            margin-right: 1em;
        }
    }
    
    .list-asterisk-ordered {
        @include list-unstyled;
        counter-reset: num;
        li:before {
            counter-increment: num;
            content: '※' counter(num, decimal);
            margin-right: 1em;
        }
    }
    
    .list-asterisk-ordered-en {
        @include list-unstyled;
        counter-reset: num;
        li:before {
            counter-increment: num;
            content: '*' counter(num, decimal);
            margin-right: 1em;
        }
    }
    
    // Inline turns list items into inline-block
    .list-inline {
        @include list-unstyled;
        >li {
            display: inline-block;
            padding-right: 2.4rem;
        }
        li:last-child {
            padding-right: 0;
        }
    }
    
    // Description Lists
    dl {
        margin-top: 0; // Remove browser default
        margin-bottom: $line-height-computed;
    }
    
    dt {
        font-weight: bold;
        margin-top: .8rem;
    }
    
    dd {
        margin-left: 0; // Undo browser default
    }
    
    dd+dd {
        margin-bottom: 0;
    }
    
    // Horizontal description lists
    //
    // Defaults to being stacked without any of the below styles applied, until the
    // grid breakpoint is reached (default of ~768px).
    .dl-horizontal {
        dd {
            @include clearfix; // Clear the floated `dt` if an empty `dd` is present
        }
        @media (min-width: $dl-horizontal-breakpoint) {
            dt {
                float: left;
                width: ($dl-horizontal-offset - 20);
                clear: left;
                text-align: right;
                margin-top: 0;
                @include text-overflow;
            }
            dd {
                margin-left: $dl-horizontal-offset;
            }
        }
    }
    
    // Misc
    // -------------------------
    abbr {
        text-decoration: none;
    }
    
    // Abbreviations and acronyms
    abbr[title], // Add data-* attribute to help out our tooltip plugin,
    abbr[data-original-title] {
        cursor: help;
        border-bottom: 1px dotted $abbr-border-color;
    }
    
    .initialism {
        font-size: 90%;
        @extend .text-uppercase;
    }
    
    // Blockquotes
    blockquote {
        margin: 0 auto $line-height-computed;
        font-size: $blockquote-font-size;
        font-weight: $blockquote-font-weight;
        position: relative;
        padding: 0;
        max-width: 57.6rem;
        span {
            position: absolute !important;
            font-size: calc( 16/10 * 1.84rem);
            &:before {
                color: $gray-lighter;
            }
        }
        span.blockquote-left {
            left: 0 !important;
            top: 4px;
            font-size: $blockquote-font-size;
        }
        span.blockquote-right {
            right: 0 !important;
            top: initial;
            bottom: 0;
            font-size: $blockquote-font-size;
        }
        p {
            padding: $blockquote-padding-y $blockquote-padding-x;
            margin: 0;
            margin-bottom: .8rem !important;
        }
        p,
        ul,
        ol {
            &:last-child {
                margin-bottom: 0;
            }
        }
        // Note: Deprecated small and .small as of v3.1.0
        footer,
        small,
        .small {
            display: block;
            font-size: 80%;
            line-height: $line-height-base;
            text-align: right;
            margin-right: 4rem;
            &:before {
                content: '\2014 \00A0'; // em dash, nbsp
                color: $gray-lighter;
            }
        }
        footer {
            padding: 0 4rem;
            margin: 0;
            cite {
                font-style: normal;
                font-weight: 300;
            }
        }
    }
    
    // Addresses
    address {
        margin-bottom: $line-height-computed;
        font-style: normal;
        line-height: $line-height-base;
    }
    
    .rex-color {
        &.blue {
            color: $blue;
        }
        &.dark-blue {
            color: $dark-blue;
        }
        &.green {
            color: $green;
        }
        &.pink {
            color: $pink;
        }
        &.purple {
            color: $purple;
        }
        &.crimson-red {
            color: $crimson-red;
        }
        &.yellow {
            color: $yellow;
        }
    }
    
    .rex-bg {
        &.blue {
            background: $blue;
        }
        &.dark-blue {
            background: $dark-blue;
        }
        &.green {
            background: $green;
        }
        &.pink {
            background: $pink;
        }
        &.purple {
            background: $purple;
        }
        &.crimson-red {
            background: $crimson-red;
        }
        &.yellow {
            background: $yellow;
        }
    }