//
// Variables
// --------------------------------------------------
@import "~core/vars/utils";
@import "~core/vars/fonts";
@import "~core/vars/colors/state";
@import "~core/vars/colors/basics";
@import "~core/vars/colors/gray";
@import "~core/vars/colors/brand";
@import "~core/vars/animations";
@import "~core/vars/typography/scafolding";
@import "~core/vars/typography/font-family";
@import "~core/vars/typography/font-size";
@import "~core/vars/typography/headings-default";
@import "~core/vars/typography/headings-weight";
@import "~core/vars/typography/headings-desktop";
@import "~core/vars/typography/headings-mobile";
@import "~core/vars/typography/buttons";
@import "~core/vars/typography/line-height";
@import "~core/vars/typography/display-desktop";
@import "~core/vars/typography/display-mobile";
@import "~core/vars/typography/display";
@import "~core/vars/icons";
@import "~core/vars/components/padding";
@import "~core/vars/components/line-height";
@import "~core/vars/components/border";
@import "~core/vars/components/active-color";
@import "~core/vars/components/caret-width";
@import "~core/vars/table";
@import "~core/vars/buttons/font-weight";
@import "~core/vars/buttons/border";
@import "~core/vars/buttons/default";
@import "~core/vars/buttons/primary";
@import "~core/vars/buttons/success";
@import "~core/vars/buttons/disabled";
@import "~core/vars/buttons/colors";
@import "~core/vars/forms/colors";
@import "~core/vars/forms/line-location";
@import "~core/vars/forms/border";
@import "~core/vars/forms/placeholder";
@import "~core/vars/forms/height";
@import "~core/vars/forms/margin";
@import "~core/vars/forms/legend";
@import "~core/vars/forms/addons";
@import "~core/vars/forms/cursor";
@import "~core/vars/forms/dropdowns";
@import "~core/vars/z-index";
@import "~core/vars/media-queries/xs";
@import "~core/vars/media-queries/sm";
@import "~core/vars/media-queries/md";
@import "~core/vars/media-queries/lg";
@import "~core/vars/media-queries/xl";
@import "~core/vars/grid-system/navbar";
@import "~core/vars/grid-system/columns";
@import "~core/vars/grid-system/sm";
@import "~core/vars/grid-system/md";
@import "~core/vars/grid-system/lg";
@import "~core/vars/grid-system/xl";
@import "~core/vars/navbar/basics";
@import "~core/vars/navbar/links";
@import "~core/vars/navbar/brand-label";
@import "~core/vars/navbar/toggle";
@import "~core/vars/navbar/inverted-basics";
@import "~core/vars/navbar/inverted-links";
@import "~core/vars/navbar/inverted-brand-label";
@import "~core/vars/navbar/inverted-toggle";
@import "~core/vars/navbar/shared";
@import "~core/vars/tabs";
@import "~core/vars/pills";
@import "~core/vars/pagination";
@import "~core/vars/pager";
@import "~core/vars/jumbotron";
@import "~core/vars/state/success";
@import "~core/vars/state/info";
@import "~core/vars/state/warning";
@import "~core/vars/state/danger";
@import "~core/vars/tooltips";
@import "~core/vars/popovers";
@import "~core/vars/labels";
@import "~core/vars/modals";
@import "~core/vars/alerts/base";
@import "~core/vars/alerts/success";
@import "~core/vars/alerts/info";
@import "~core/vars/alerts/warning";
@import "~core/vars/alerts/danger";
@import "~core/vars/progress-bars";
@import "~core/vars/list-group";
@import "~core/vars/panels/base";
@import "~core/vars/panels/default";
@import "~core/vars/panels/primary";
@import "~core/vars/panels/success";
@import "~core/vars/panels/info";
@import "~core/vars/panels/warning";
@import "~core/vars/panels/danger";
@import "~core/vars/thumbnails";
@import "~core/vars/wells";
@import "~core/vars/badges";

//== Breadcrumbs
//
//##
$breadcrumb-padding-vertical: .8rem !default;
$breadcrumb-padding-horizontal: 1.5rem !default;
//** Breadcrumb background color
$breadcrumb-bg: #f5f5f5 !default;
//** Breadcrumb text color
$breadcrumb-color: #ccc !default;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color: $gray-light !default;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator: "/" !default;
//== Carousel
//
//##
$carousel-text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !default;
$carousel-control-color: #fff !default;
$carousel-control-width: 15% !default;
$carousel-control-opacity: .5 !default;
$carousel-control-font-size: 20px !default;
$carousel-indicator-active-bg: #fff !default;
$carousel-indicator-border-color: #fff !default;
$carousel-caption-color: #fff !default;
//== Close
//
//##
$close-font-weight: bold !default;
$close-color: #000 !default;
$close-text-shadow: 0 1px 0 #fff !default;
//== Code
//
//##
$code-color: #c7254e !default;
$code-bg: #f9f2f4 !default;
$kbd-color: #fff !default;
$kbd-bg: #333 !default;
$pre-bg: #f5f5f5 !default;
$pre-color: $gray-dark !default;
$pre-border-color: #ccc !default;
$pre-scrollable-max-height: 3.4rem !default;
//== Type
//
//##
//** Horizontal offset for forms and lists.
$component-offset-horizontal: 1.8rem !default;
//** Text muted color
$text-muted: $gray-light !default;
//** Abbreviations and acronyms border color
$abbr-border-color: $gray-light !default;
//** Headings small color
$headings-small-color: $gray-dark !default;
//** Blockquote small color
$blockquote-small-color: $gray-light !default;
//** Blockquote font size
$blockquote-font-size: ($font-size-base) !default;
//** Blockquote font weight
$blockquote-font-weight: $font-weight-h5;
//** Blockquote border color
$blockquote-border-color: $gray-lighter !default;
//** Page header border color
$page-header-border-color: $gray-lighter !default;
//** Width of horizontal description list titles
$dl-horizontal-offset: $component-offset-horizontal !default;
//** Point at which .dl-horizontal becomes horizontal
$dl-horizontal-breakpoint: $grid-float-breakpoint !default;
//** Horizontal line color.
$hr-border: $gray-lighter !default;
//== Blockquotes
//
//##
//** Blockquote padding x.
$blockquote-padding-y: 0;
$blockquote-padding-x: 4.0rem;
//** Blockquote font size.
$search-input-active: #f9f9f9;