$gray-darkest: lighten(#000, 20%) !default; //333
$gray-darker: lighten(#000, 30%) !default; //4d4d4d
$gray-dark: lighten(#000, 40%) !default; //686868
$gray: lighten(#000, 51%) !default; //828282
$gray-medium: lighten(#000, 61%) !default; //9c9c9c
$gray-medium-light: lighten(#000, 71%) !default; //b6b6b6
$gray-light: lighten(#000, 82%) !default; //d1d1d1
$gray-lighter: lighten(#000, 92%) !default; //ebebeb
$gray-lightest: lighten(#000, 97%) !default; //f7f7f7
$overlay-grey: rgba(0, 0, 0, 0.03) !default; //overlay onto color